<!doctype html>
<html ng-app="project">
  <head>
    <script src="{{ asset('Static/js/angular.min.js') }}"></script>
    <script src="{{ asset('Static/js/angular-resource.min.js') }}"></script>
    <script src="{{ asset('Static/js/angular-route.min.js') }}"></script>
  </head>
  <body>
    <h2>Drunken Diaries</h2>
    <div ng-view></div>
  </body>
</html>
